.pre-game-screen
  form
    font-family: 'Avenir Next'
    margin: 0 50px

    label
      color: #1b1f28
      font-size: 14px
      font-weight: normal

    .error
      color: #a94442
      float: right

    .submit
      margin: 50px 0

.game-screen
  form
    margin: 25px 0px
    label
      font-size: 16px
      color: white

    ul
      margin: 0
      padding: 0
      li
        font-family: 'Droid Sherif'
        background-color: #404d64
        border-radius: 4px
        color: white
        list-style-type: none
        margin-bottom: 20px
        padding: 5px 5px

        .you
          font-family: 'Avenir Next'
          color: #27dd70
          float: right
          font-weight: 800
          margin: 0 5px
        .owner
          font-family: 'Avenir Next'
          color: #2a96fa
          float: right
          font-weight: 800
          margin: 0 5px
        .offline
          font-family: 'Avenir Next'
          color: red
          float: right
          font-weight: 800
          margin: 0 5px
