.game-screen
  .panel
    box-shadow: 3px 3px 10px #d5d8df
    border-radius: 10px
    padding: 0px
    border: 0px
    min-height: 500px
    display: flex
    flex-wrap: wrap

    .sidebar
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      background-color: #3a445c


    .submit
      margin: 50px 0
      text-align: center

    .info
      margin-top: 50px
      background: url('/static/arrows.png')
      background-repeat: no-repeat
      background-position-x: center
      background-size: 240px 85px
      text-align: center
      img
        margin-top: 20px
        &.box
          width: 80px
          height: 69px
        &.hourglass
          width: 66px
          height: 73px

  .controls
    clear: both
    .btn
      margin: 30px 10px

  .guide
    clear: both
    margin: 30px 10px

  .final-estimation
    height: 316px
    margin: 20px 0
    border: 1px solid #d5d8df
    border-radius: 5px
    text-align: center
    padding-top: 10%
    img
      width: 66px
      height: 73px
    select
      margin: 0 auto
      width: 50%
