#game-screen
  .bg
    position: absolute
    z-index: -1
    opacity: .5
  .bg-1
    width: 312px
    height: 87px
    top: 315px
    left: -310px
  .bg-2
    width: 156px
    height: 154px
    top: 40px
    left: 1135px
  .bg-3
    width: 166px
    height: 127px
    top: 30px
    left: -120px
  .bg-4
    width: 69px
    height: 68px
    top: 380px
    left: 1150px

  .logo
    padding: 0px
    img
      margin: 25px 0
      width: 130px
      height: 21px

  .panel
    box-shadow: 3px 3px 10px #d5d8df
    border-radius: 10px
    padding: 0px
    border: 0px
    min-height: 500px
    display: flex
    flex-wrap: wrap

    .sidebar
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      background-color: #3a445c

  h1
    font-family: 'Avenir Next'
    margin-top: 40px
    text-align: center
    font-size: 35px

  h5
    font-family: 'Droid Sherif'
    text-align: center
    font-size: 16px
    color: #757b89
    position: relative
    overflow: hidden
    margin: 20px 0

    &:before,
    &::after
      background-color: #edeff1
      content: ""
      display: inline-block
      height: 1px
      position: relative
      vertical-align: middle
      width: 50%

    &:before
      right: 1em
      margin-left: -50%

    &::after
      left: 1em
      margin-right: -50%


  #list
    margin: 0 20px
    ul
      font-family: 'Droid Sherif'
      margin: 0
      padding: 0

      li
        list-style-type: none
        border-bottom: 1px solid #dfe2e9
        font-size: 16px
        height: 50px

        .number
          font-family: 'Avenir Next'
          font-weight: 800
          width: 50px
          height: 50px
          line-height: 50px
          text-align: center
          border-right: 1px solid #dfe2e9
          float: left
        .name
          float: left
          padding: 0 10px
          margin-top: 8px
          width: calc(100% - 160px)
          line-height: 35px
          input
            font-size: 16px
            width: 100%
          // input:not(:hover)
          //   border: none
          //   box-shadow: none
          input:not(:focus)
            border: none
            box-shadow: none

        .opts
          float: right
          display: none
          img.edit
            margin: 15px 10px 15px 0
            height: 18px
            width: 18px

          img.delete
            margin: 15px 10px 15px 0
            height: 16px
            width: 11px

        &:hover .opts
          display: block
        .vote
          font-family: 'Avenir Next'
          font-weight: 800
          border-left: 1px solid #dfe2e9
          width: 50px
          height: 50px
          line-height: 50px
          text-align: center
          float: right

    .new-ticket
      margin-top: 10px
      .number
        color: #aeb3c0
        font-family: 'Avenir Next'
        font-weight: 800
        width: 50px
        height: 50px
        line-height: 50px
        text-align: center
        float: left
      input
        font-family: 'Droid Sherif'
        font-size: 16px
        margin-top: 8px
        width: calc(100% - 50px)
        float: left

    .submit
      margin: 50px 0
      text-align: center

#controls
  clear: both
  text-align: center
  .btn
    margin: 30px 10px

#final-estimation
  margin: 0 20px
  background-color: #f0f1f2
  height: 50px

  .img
    float: left
    width: 50px
    height: 50px
    text-align: center
    line-height: 45px
    img
      width: 16px
      height: 21px

  .label
    color: black
    font-family: 'Avenir Next'
    font-size: 16px
    font-weight: 800
    line-height: 45px
    float: left

  .value
    float: right
    height: 50px
    select
      margin: 7px
      width: 50px
      font-weight: 800
    span
      color: white
      line-height: 50px
      margin: 0 5px 0 0
      padding: 10px
      background-color: #317ec6
      border-radius: 10px
      min-width: 50px
