#pre-game-screen
  .logo
    margin-top: 40px
    text-align: center
    img
      width: 259px
      height: 42px

  .panel
    position: relative
    color: #373d4a
    margin-top: 45px
    box-shadow: 3px 3px 10px #d5d8df
    border-radius: 10px

    .description
      margin: 40px 70px
      font-family: 'Droid Serif'
      font-size: 13px
      line-height: 20px

    .bg
      position: absolute
      z-index: -1
      opacity: .5
    .bg-1
      width: 312px
      height: 87px
      top: 315px
      left: -310px
    .bg-2
      width: 156px
      height: 154px
      top: 40px
      left: 560px
    .bg-3
      width: 166px
      height: 127px
      top: 30px
      left: -120px
    .bg-4
      width: 69px
      height: 68px
      top: 280px
      left: 630px
