.sidebar
  padding: 25px 15px

  label
    font-size: 18px
    color: white
    font-weight: normal
  ul
    margin: 0
    padding: 0

    li
      font-family: 'Droid Sherif'
      background-color: #404d64
      border-radius: 4px
      color: white
      list-style-type: none
      margin-bottom: 10px
      padding: 5px 5px

      .you
        font-family: 'Avenir Next'
        color: #27dd70
        float: right
        font-weight: 800
        margin: 0 5px
      .owner
        font-family: 'Avenir Next'
        color: #2a96fa
        float: right
        font-weight: 800
        margin: 0 5px
      .offline
        font-family: 'Avenir Next'
        color: red
        float: right
        font-weight: 800
        margin: 0 5px
